<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>102653008168-c2ifkugh3tm3pp75ebodgm8en8gcvk7c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.102653008168-c2ifkugh3tm3pp75ebodgm8en8gcvk7c</string>
	<key>API_KEY</key>
	<string>AIzaSyCVebwDJW84Oiz-gxmcB_6p2HlI6O6YHr4</string>
	<key>GCM_SENDER_ID</key>
	<string>102653008168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reactjs.native.template</string>
	<key>PROJECT_ID</key>
	<string>react-template-99dd0</string>
	<key>STORAGE_BUCKET</key>
	<string>react-template-99dd0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102653008168:ios:d97dcc155cc1115c84981d</string>
	<key>DATABASE_URL</key>
	<string>https://react-template-99dd0.firebaseio.com</string>
</dict>
</plist>